!!!
%html
%head
	%title Θέματα διαγωνισμών
	= stylesheet_link_tag	 'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand Θέματα Διαγωνισμών
			%ul.nav.navbar-nav
				%li= link_to "Όλα τα θέματα", root_path
				- Category.all.each do |category|
					%li= link_to category.name, themes_path(category: category.name)
			= link_to "Νέο Θέμα", new_theme_path, class: "navbar-text navbar-right navbar-link"
	.container
		.col-md-6.col-md-offset-3
			= yield